@model IEnumerable<KotobuApi.Models.Book>

<h2>GetBooks</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CcDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MainLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TwitterLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IgLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categorys)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cover)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CcDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MainLink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TwitterLink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IgLink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categorys)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cover)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
